<%= form_for @order, url: order_new_path, html: {role: 'form'} do |f| %>
	<%= hidden_field_tag 'food_id', @food_id %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, :class => 'form-control', :required => true %>
	</div>

	<div class="form-group">
		<%= f.label :phone_number %>
		<%= f.text_field :phone_number, :class => 'form-control', :required => true %>
	</div>

	<div class="form-group">
		<%= f.label :address %>
		<%= f.text_area :address, :class => 'form-control', :required => true %>
	</div>

	<div class="form-group">
		<%= f.label :coupon_code %>
		<%= f.text_field :coupon_code, :class => 'form-control' %>
	</div>

	<div class="action">
		<%= f.submit 'Order', :class => 'btn btn-primary' %>
	</div>
<% end %>